<!DOCTYPE html>
<html>
  <head>
    <title>Kofe N Wifi | About</title>
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/animations.css">
    <link rel="stylesheet" href="../static/styles/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="kofe-header">
      <section class="header-left">
        <div class="logo-block">
          <img class="logo" src="../static/image/logo/wifi mug(only).png">
        </div>
        <div class="logo-text-block">
          <p class="kofe">Kofe </p>
          <p class="n">N </p>
          <p class="wifi">Wifi</p>
        </div>
      </section>
      <section class="header-right">
        <div class="options">
          <a class="clickable" href="/template/home.html"><p>Home</p></a>
          <a class="clickable" href="/template/about.html"><p>About</p></a>
          <a class="clickable" href="/template/contact.html"><p>Contact</p></a>
        </div>
      </section>
    </header>

    <section class="background-animation">
    <div class="background-beans-1">
      <div class="falling-bean-1 normal">
        <img class="after-trail">
        <img class="bkgd-bean" src="../static/image/Bean.png">
      </div>
    </div>
    <div class="background-beans-2">
      <div class="falling-bean-2 slow">
        <img class="after-trail">
        <img class="bkgd-bean" src="../static/image/Bean.png">
      </div>
    </div>
    <div class="background-beans-3">
      <div class="falling-bean-3 fast">
        <img class="after-trail">
        <img class="bkgd-bean" src="../static/image/Bean.png">
      </div>
    </div>
  </section>


    <main class="about">
      <section class="hero">
        <p class="inspiration">Our <span class="green">Inspiration</span></p>
        <div class="image-block">
          <img class="hero-image" src="../static/image/Hero - Coffee on Mountain.png">
          <p class="about-us-text text1">THis is what motivated us to create this site. It is a long established fact that a reader 
            will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum 
            is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
            making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum 
            as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and 
            the like).</p>
            <p class="about-us-text text2">THis is what motivated us to create this site. It is a long established fact that a reader 
              will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum 
              is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
              making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum 
              as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
              Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and 
              the like).
            </p>
        </div>      
      </section>
    </main>

    <footer>
      <p>Kofe n Wifi @ 2024. All Rights Reserved.</p>
    </footer>
    <script src="../static/JS code/general.js"></script>
  </body>
</html>