<!DOCTYPE html>
<html>
  <head>
    <title>Kofe N Wifi | Contact</title>
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/animations.css">
    <link rel="stylesheet" href="../static/styles/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="kofe-header">
      <section class="header-left">
        <div class="logo-block">
          <img class="logo" src="../static/image/logo/wifi mug(only).png">
        </div>
        <div class="logo-text-block">
          <p class="kofe">Kofe </p>
          <p class="n">N </p>
          <p class="wifi">Wifi</p>
        </div>
      </section>
      <section class="header-right">
        <div class="options">
          <a class="clickable" href="/template/home.html"><p>Home</p></a>
          <a class="clickable" href="/template/about.html"><p>About</p></a>
          <a class="clickable" href="/template/contact.html"><p>Contact</p></a>
        </div>
      </section>
    </header>

    <section class="background-animation">
    <div class="background-beans-1">
      <div class="falling-bean-1 normal">
        <img class="after-trail">
        <img class="bkgd-bean" src="../static/image/Bean.png">
      </div>
    </div>
    <div class="background-beans-2">
      <div class="falling-bean-2 slow">
        <img class="after-trail">
        <img class="bkgd-bean" src="../static/image/Bean.png">
      </div>
    </div>
    <div class="background-beans-3">
      <div class="falling-bean-3 fast">
        <img class="after-trail">
        <img class="bkgd-bean" src="../static/image/Bean.png">
      </div>
    </div>
  </section>


    <main class="contact">
      <section class="hero">
        <div class="image-block">
          <img class="hero-image" src="../static/image/Hero 3 - African American Woman with Coffee.png">
          <div class="image-to-background-transition"></div>
          <p class="hero-text">Now it's your turn, lemme know what you think of these Kofe and Wifi hubs across Jamaica. 
            Heck, lemme now your favorites and one's that you've discovered on your own and aren't listed here. 
            I'd love to visit them and have them added for other Kofe connoisseurs.
          </p>
        </div>

        <div class="reach-out-text-container">
          <p class="reach-out-text">Re<span class="green">ach</span> <span class="yellow underline">Out!</span></p>
        </div>
      </section>

      <section class="contact-form">
        <form>
          <div class="user_info">
            <div class="name">
              <input type="text" placeholder="John Snow">
            </div>
            <div class="email">
              <input type="text" placeholder="example@gmail.com">
            </div>
          </div>

          <div class="users-thoughts">
            <textarea placeholder=" Your thoughts....."></textarea>
          </div>
          <button class="submit-button">Submit</button>
        </form>

        <div class="contact-information">
          <div class="my-info">
            <div>
              <p class="my-name">Demel Gayle</p>
            </div>
            <img class="me" src="../static/image/Meeee.jpeg">
          </div>
          <div class="email row">
            <img class="contact-icon" src="../static/icons/email.png">
            <p class="email-text contact-text">workaholicdemel@outlook.com</p>
          </div>
          
          <div class="phone row">
            <img class="contact-icon" src="../static/icons/phone.png">
            <p class="phone-text contact-text">+1 (876) 212-4027/+1 (914) 396-0972</p>
          </div>
  
          <div class="address row">
            <img class="contact-icon" src="../static/icons/location.png">
            <div class="address-text">
              <p class="contact-text">33 Bloomfield Street, Mandeville P.O., Manchester, JA</p>
            </div>
          </div>
  
        </div>

        <div class="outro-container">
          <p class="outro-text">As a fellow Kofe lover, 
            I can guarantee that I have your best Kofe-loving interests at heart.
            Reach out, so we can chat up a storm about locations, stories, and, most definitely, Kofe!
            You can find my contact info below.</p>
        </div>
      </section>
    </main>


    <footer>
      <p>Kofe n Wifi @ 2024. All Rights Reserved.</p>
    </footer>
    <script src="../static/JS code/general.js"></script>
  </body>
</html>