.background-animation{
  position: absolute;
  top: 0px;
}
.background-beans-1{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
}
.background-beans-2{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
}
.background-beans-3{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
}
.falling-bean-1{
  width: 20px;
}
.falling-bean-2{
  width: 30px;
}
.falling-bean-3{
  width: 40px;
}
.very-slow{
  animation: falling 18s linear infinite;
}
.slow{
  animation: falling 17s linear infinite;
}
.normal{
  animation: falling 16s linear infinite;
}
.fast{
  animation: falling 15s linear infinite;
}
.very-fast{
  animation: falling 14s linear infinite;
}


.bkgd-bean{
  position: absolute;
  top: -20px;
  z-index: 1;
  width: 100%;
}
#bottom-of-page{
  margin: 0px;
}

:root{
  --start_pos: 0px;
  --end_pos: 1500px;
}

@keyframes falling{
  0%{
    transform: translateY(var(--start_pos));
  }
  100%{
    transform: translateY(var(--end_pos));
  }

}